body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid black;
}

th, td {
    border: 1px solid #232222;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}